<div class="container">
  <div class="row text-center">

    <div class="col mt-2">
      <a [routerLink]="['list']"><button id="button" type="button" class="btn btn-lg btn-outline"> <i
            class="fa-solid fa-border-all"></i> GRID VIEW </button></a>
    </div>
    <div class="col mt-2">
      <button id="button" type="button" class="btn btn-lg btn-outline"> <i class="fa-solid fa-list-ul"></i> LIST VIEW
      </button>
    </div>
    <div class="col mt-2">
      <button id="button" type="button" class="btn btn-lg btn-outline"> <i class="fa-solid fa-moon"></i> DARK MODE
      </button>
    </div>

  </div>
</div>
<div class="container mt-5">
  <div *ngFor="let item of arrayPokemons" class="row text-center">
    <div *ngFor="let element of item; index as i" class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4">
      <div class="card" style="width: 18rem; display:inline-block;">
        <div class="card-header">
          <h2 id="name" class="card-title text-capitalize">{{element.namePokemon}}</h2>
        </div>
        <img class="card-img-top" src="{{element.img}}">
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <a href="#" id="button" class="btn" [routerLink]="['/detail', element.namePokemon]">Details</a>
            </div>
            <div class="col-6">
              <div class="text-end">
                <input type="checkbox" class="btn-check" id="{{element.namePokemon}}" autocomplete="off">
                <label class="btn btn-outline-warning" for="{{element.namePokemon}}"><i
                    class="fa-solid fa-star"></i></label><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>