<app-header [darkTheme]="darkTheme"></app-header>
<div class="container-fluid" [ngClass]="{'dark-theme': darkTheme, 'light-theme': !darkTheme}">
    <div class="row text-center mb-2">
        <div class="col-6">
            <button id="button" type="button" class="btn btn-sm btn-outline" (click)="previous()">Previous</button>
        </div>
        <div class="col-6">
            <button id="button" type="button" class="btn btn-sm btn-outline" (click)="next()">Next</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" >
            <div id="centrar" class="card" style="width:80%">
                <div class="card-header">
                    <div class="row mt-2">
                        <div class="col-6">
                            <h1 class="text-capitalize">{{id}} - {{name}}</h1>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <input type="checkbox" class="btn-check" id="{{name}}" autocomplete="off"
                                  (click)="save(name)" [checked]=isFav>
                                <label id="circle" class="btn btn-outline-warning mt-1" for="{{name}}"><i
                                    class="fa-solid fa-star"></i></label>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-xl-4">
                            <div class="card">
                                <img src={{img}}>
                            </div>
                        </div>
                        <div class="col-xl-4 text-center">
                            <div class="card">
                                <div class="mt-2">
                                    <h4>
                                        Type:<span id="res" *ngFor="let item of types; let i = index"> {{item}}{{i <
                                                types.length - 1 ? ' & ' : '' }}</span>
                                    </h4>
                                    <h4 class="mb-4">Height: <span id="res"> {{height}}</span></h4>
                                    <h4 class="mb-4">Weight: <span id="res"> {{weight}}</span></h4>
                                    <h4 class="mb-4">Abilities:</h4>
                                    <h4 class="mb-2">Base experience: <span id="res"> {{exp}}</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-center">
                            <div class="card">
                                <div class="row mt-2">
                                    <div class="col">
                                        <h4>Abilities:</h4>
                                        <h4 *ngFor="let item of abilities" id="res">- {{item}}</h4>
                                    </div>
                                    <div id="marginAbilities" class="col text-center">
                                        <h4>Stats:</h4>
                                        <h4>
                                            <h4 id="res" *ngFor="let item of stats; let i = index">
                                                <span *ngFor="let element of item; let j = index"> {{element}}{{j < item.length - 1 ? ': ' : '' }} </span>
                                            </h4>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xl-12">
                                <h4 class="text-capitalize">
                                    {{name}} Sprites: <img id="res" *ngFor="let item of sprites" src="{{item}}">
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>